<%- include('template/header', { tituloWeb: 'Crear Nueva Mascota' }); %>

<div class="container">
    <h1> Crear </h1>
    <form action="/mascotas" method="post">
        <input type="text" placeholder="Agregar Nombre" class="form-control my-2" name="nombre" id="nombre">
        <input type="text" placeholder="Agregar Descripción" class="form-control my-2" name="descripcion" id="descripcion">
        <div class="d-grid">
            <button class="btn btn-success" type="submit">Agregar</button>
        </div>
    
    </form>
    <%- include('template/footer'); %>

</div>