<%- include('template/header', { tituloWeb: 'Página de Inicio' }); %>

    <h1 class="text-danger">Pagina de Inicio</h1>
    <h2>Motor de Plantillas EJS</h2>
    <h2><%= titulo %></h2>
    
<%- include('template/footer'); %>

